.posts-panel {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  padding: 1rem;
  background-color: var(--color-ui-card);
  border-radius: var(--radius-lg);
  box-shadow: var(--shadow-card);
}

.posts-panel-header {
  display: flex;
  justify-content: space-between;
}

.posts-panel-see-all {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}
