<nav class="h-screen border-r border-r-gray-300">
  <div class="p-8 border flex justify-center items-center">
    <p>AgoraPilot</p>
  </div>
  <div class="p-4">
    <button sideBarButton
            name="Dashboard"
            class="flex items-center gap-2 p-3 w-full rounded-sm hover:bg-blue-100 hover:shadow-hover transition-all duration-200 hover:text-blue-700"
            routerLink="/dashboard"
            routerLinkActive="bg-blue-100 text-blue-700 shadow"
    >
      <svg xmlns="http://www.w3.org/2000/svg"
           height="24px"
           viewBox="0 -960 960 960"
           width="24px"
           fill="currentColor"
      >
        <path d="M520-600v-240h320v240H520ZM120-440v-400h320v400H120Zm400 320v-400h320v400H520Zm-400 0v-240h320v240H120Zm80-400h160v-240H200v240Zm400 320h160v-240H600v240Zm0-480h160v-80H600v80ZM200-200h160v-80H200v80Zm160-320Zm240-160Zm0 240ZM360-280Z" />
      </svg>
    </button>
  </div>
</nav>
