<div class="bg-ui-card shadow-card rounded-lg p-4 w-full flex flex-col gap-4">
  <div class="flex justify-between">
    <h3>Cette semaine</h3>
  </div>
  <ul class="flex flex-col gap-2">
    <li>
      <app-weekly-occurrence-card [entry]="entries()[0]" />
    </li>
    <li>
      <app-weekly-occurrence-card [entry]="entries()[1]" />
    </li>
    <li>
      <app-weekly-occurrence-card [entry]="entries()[2]" />
    </li>
    <li>
      <app-weekly-occurrence-card [entry]="entries()[3]" />
    </li>
    <li>
      <app-weekly-occurrence-card [entry]="entries()[4]" />
    </li>
    <li>
      <app-weekly-occurrence-card [entry]="entries()[5]" />
    </li>
    <li>
      <app-weekly-occurrence-card [entry]="entries()[6]" />
    </li>
  </ul>
</div>