<div class="calendar-panel">
  <div class="calendar-panel-header">
    <h3>Cette semaine</h3>
  </div>
  <ul class="calendar-list">
    <li>
      <app-weekly-occurrence-card [entry]="entries()[0]" />
    </li>
    <li>
      <app-weekly-occurrence-card [entry]="entries()[1]" />
    </li>
    <li>
      <app-weekly-occurrence-card [entry]="entries()[2]" />
    </li>
    <li>
      <app-weekly-occurrence-card [entry]="entries()[3]" />
    </li>
    <li>
      <app-weekly-occurrence-card [entry]="entries()[4]" />
    </li>
    <li>
      <app-weekly-occurrence-card [entry]="entries()[5]" />
    </li>
    <li>
      <app-weekly-occurrence-card [entry]="entries()[6]" />
    </li>
  </ul>
</div>