<div
  class="occurrence-card"
  [class.has-posts]="hasPosts()">
  <div class="occurrence-date">
    <p class="occurrence-day">
      {{ date() | date:'dd' }}
    </p>
    <p class="occurrence-weekday">
      {{ date() | date:'EEE':'':'fr-FR' }}
    </p>
  </div>
  <div class="occurrence-summary">
    <p class="occurrence-count">
      {{ numberOfPosts() }} post{{ numberOfPosts() > 1 ? 's' : '' }}
    </p>
    <button class="occurrence-chevron">
      <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#6a7282">
        <path d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z" />
      </svg>
    </button>
  </div>
</div>
